
*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html,body,#root,.wrap{
  width: 100%;
  height: 100%;
}
.login{
  width: 500px;
  height: 500px;
  margin: 100px auto;
}
.login_modal{
  position: relative;
}
.login_img{
 position: absolute;
 top: -103px;
 left: 50%;
 transform: translateX(-50%);
}
.login_img2{
  position: absolute;
  top: -104px;
  left: 50%;
  transform: translateX(-50%);
 }
 .boxs{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }